<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings configSource="config\connectionstrings.config" />
  <appSettings>
    <!-- database connection strings -->
    <add key="ConnectionStringLocal" value="NSW_Development" />
    <add key="ConnectionStringRemote" value="NSW_Production" />
    <!-- logging keys -->
    <add key="LogSproc" value="insertSiteLog" />
    <add key="LogType" value="database" />
    <!-- used to show where the file log should be -->
    <add key="LogLocation" value="App_Data/Log" />

  </appSettings>  
</configuration>