# this is the project name in docker desktop
COMPOSE_PROJECT=nsw

# this project takes a bit to start up, 
# so we extend the timeout
COMPOSE_HTTP_TIMEOUT=300

# for the internal docker container SSL certificates, 
# they will be generated with these parameters
COMPOSE_LOCATION=
COMPOSE_STATE=
COMPOSE_COUNTRYCODE=
