<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)"/>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <membership defaultProvider="MembershipProvider">
      <providers>
        <clear/>
        <add name="MembershipProvider" type="NSW.Data.Security.MembershipProvider" connectionStringName="NSW_Production" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="NSW" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="NSW_Production" applicationName="NSW" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="RoleProvider">
      <providers>
        <clear/>
        <add name="RoleProvider" type="NSW.Data.Security.RoleProvider" connectionStringName="NSW_Production" applicationName="NSW" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </providers>
    </roleManager>

  </system.web>
  <appSettings file="config\mail.config">
    <!-- database connection string -->
    <add key="ConnectionString" value="NSW_Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- logging keys -->
    <add key="LogSproc" value="insertSiteLog"/>
    <add key="LogType" value="file"/>
    <!-- used to show where the file log should be -->
    <add key="LogLocation" value="App_Data/Log"/>
    <!-- the following key is used to show the application where it is on the internet -->
    <add key="webServer" value="localhost:8081" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- the following keys are used for sending emails -->
    <add key="AdminEmails" value="ac.nicholls@gmail.com"/>
    <add key="MailServer" value="smtp.gmail.com"/>
    <add key="MailPort" value="587"/>
    <add key="MailRequireSSL" value="true"/>
    <!-- true or false, no caps, no integers-->
    <add key="MailRequireSecurity" value="true"/>
    <!-- true or false, no caps, no integers-->
    <add key="MailUser" value="ac.appsmail@gmail.com"/>
    <!-- put a value here anyway so there's no error -->
    <add key="MailFrom" value="ac.appsmail@gmail.com"/>
    <add key="MailMaxAttachmentLength" value="5242880"/>
  </appSettings>
</configuration>