<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
  <add key="LogSproc" value="insertSiteLog"/>
  <add key="LogType" value="database"/>
  <add key="LogLocation" value="App_Data/Log"/>
  <add key="ConnectionString" value="User ID=NSW;Password='Hkjhsdfoh*^Rgkjhsdf';Initial Catalog=NSW;Data Source=XPSM1530\SQLSERVER;"/>
  </appSettings>
</configuration>
